@model IEnumerable<ModelAll>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Araç Güncelle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Araç Güncelle</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
@if (Model != null)
{
    foreach (var item in Model)
    {

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@item.rVehicle.Plate</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="proName">Araç Resmi</label>
                                        <img src="@item.rVehicle.VehicleImgUrl" style="max-height:350px;" />
                                    </div>
                                    <div class="form-group">
                                        <label for="proName">Araç Plakası</label>
                                        <input type="text" class="form-control" id="vhlPlate" value="@item.rVehicle.Plate">
                                    </div>

                                    <div class="form-group">
                                        <label for="proKG">Lokasyon</label>
                                        <input type="text" class="form-control" id="vhlLoc" value="@item.rVehicle.Location">
                                    </div>

                                    <div class="form-group">
                                        <label>Marka & Model</label>
                                        <select class="form-control select2" style="width: 100%;" id="brnMdl">
                                            @foreach (var mdl in item.lModel)
                                            {
                                                if (mdl.Status == true)
                                                {
                                                    if (item.rVehicle.vModelId == mdl.Id)
                                                    {
                                                        <option value="@mdl.Id" selected>@mdl.BrandName - @mdl.ModelName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@mdl.Id">@mdl.BrandName - @mdl.ModelName</option>
                                                    }
                                                    
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputFile">Araç Resimi</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileUpload" onchange="uploadImage()">
                                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Yükle</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        @if (item.rVehicle.Status == true)
                                        {
                                            <input type="checkbox" class="form-check-input" id="state" checked>
                                        }else{
                                            <input type="checkbox" class="form-check-input" id="state">
                                        }
                                        <label class="form-check-label" for="exampleCheck1">Araç Aktif Mi?</label>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" onclick="save()">Kaydet</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>


    }
}
<script>
    var fileURL = "";
    function uploadImage() {
        var files = $('#fileUpload').prop("files");
        var url = "/Vehicle/UploadFile?handler=MyUploader";
        formData = new FormData();
        formData.append("formFile", files[0]);

        jQuery.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (repo) {
                if (repo.status == "success") {
                    //alert("File : " + JSON.parse(repo.proState) + " is uploaded successfully");
                    fileURL = repo.proState
                    console.log(fileURL);
                }
            },
            error: function () {
                alert("Error occurs");
            }
        });
    }
    function save() {
        var checkBox = document.getElementById('state');
        var state;
        if (checkBox.checked) {
            state = true;
        } else {
            state = false;
        }
        var vehicle = {
            'Plate': $('#vhlPlate').val(),
            'Location': $('#vhlLoc').val(),
            'vModelId': $('#brnMdl').val(),
            'ProImgUrl': null,
            'Status': state
        }
        $.ajax({
            type: "POST",
            url: "/Vehicle/UpdateVhl",
            data: { vhl: vehicle, "imgName": fileURL },
            success: function (response) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Araç Kaydedildi!',
                    showConfirmButton: false,
                    timer: 1500
                })
                window.location.reload(true);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>
